{% extends 'base.html' %}
{% load static %}

{% block title %} data statistics {% endblock %}

{% block content %}
<h1> Python lessons </h1>
<h2> Lesson 3: Data statistical processing </h2>
<p>Table of the data statistical parameters</p>
<div class="row">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
{% for p in params %}
      <tr>
         <td>{{p.0}}</td>
         <td>{{p.1}}</td>
      </tr>
{% endfor %}
    </tbody>

  </table>

</div>

{% endblock content %}
