{% extends 'base.html' %}
{% load static %}

{% block title %} main {% endblock %}

{% block content %}
<h1> Python lessons </h1>

<div class="row">

<div class="col-sm-4">

  <div class="card bg-warning mb-3">
     <div class="card-header"> Tasks </div> 
     <div class="card-body">
	<h5 class="card-title"> Data generation </h5>

        <p class="card-text"> Fill random data for futher statictical processing </p>
        <a class="btn btn-primary btn-lg btn-block text-left" href="/tasks/data_generate/"> Execute </a>
     </div>
  </div>
</div>

<div class="col-sm-4">

  <div class="card bg-warning mb-3">
     <div class="card-header"> Tasks </div> 
     <div class="card-body">
	<h5 class="card-title"> Statistics </h5>

        <p class="card-text"> Data statistical parameters calculation </p>
        <a class="btn btn-primary btn-lg btn-block text-left" href="/tasks/data_calc/"> Execute </a>
     </div>
  </div>
</div>

<div class="col-sm-4">

  <div class="card bg-warning mb-3">
     <div class="card-header"> Tasks </div>
     <div class="card-body">
	<h5 class="card-title"> Derivative </h5>

        <p class="card-text"> Test signal derivative calculation </p>
        <a class="btn btn-primary btn-lg btn-block text-left" href="/tasks/deriv/"> Execute </a>
     </div>
  </div>
</div>

</div>

{% endblock content %}
