{% extends 'base.html' %}
{% load static %}

{% block title %} main {% endblock %}

{% block content %}
<h1> Python lessons </h1>

<div class="row">

<div class="col-sm-4">

  <div class="card bg-warning mb-3">
     <div class="card-header"> Задачи </div> 
     <div class="card-body">
	<h5 class="card-title">Название задачи </h5>

        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a class="btn btn-primary btn-lg btn-block text-left" href="/lesson1/"> Задача 1 </a>
     </div>
  </div>
</div>

{% endblock content %}
