{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Python lessons - {% block title %} {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='shortcut icon' type='image/x-icon' href="favicon.ico" />
{% block heads %}{% endblock %}
</head>
<body>
<div class="container">
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
  <hr>
{% block footers %}{% endblock %}
  </footer>
</div>

</body>
</html>